.page-container(*ngIf="mapData")
    mat-form-field(style="width:100%")
        input(matInput, placeholder="Search", type="text", [(ngModel)]="searchInput")
        button(mat-button, *ngIf="searchInput", matSuffix, mat-icon-button, aria-label="Clear", (click)="searchInput=''")
            mat-icon close

    .scroll-container
        //mat-selection-list(#shoes, [multiple]="false")
            mat-list-option(*ngFor="let marker of mapData.markers | searchFilter:searchInput", [value]="marker") {{marker.name}}
        mat-accordion
            mat-expansion-panel(hideToggle, *ngFor="let marker of mapData.markers | searchFilter:searchInput")
                mat-expansion-panel-header
                    mat-panel-title {{marker.name}}
                p This is the primary content of the panel.

.folders(cdkDropListGroup, *ngIf="mapData")
    div.example-container(*ngFor="let folder of mapData.folders")
        h2 {{folder.title}}
        //div(
            cdkDropList,
            [id]="folder.title",
            [cdkDropListData]="folder.markers",
            [cdkDropListConnectedTo]="[doneList]",
            class="example-list",
            (cdkDropListDropped)="drop($event)")
            div.example-box(*ngFor="let marker of folder.markers", cdkDrag) {{marker.name}}
            .drag-placeholder(*cdkDragPlaceholder)