.test {
    max-width: 400px;
    margin: 20px auto;

    .mat-slider {
        width: 100%;
    }

    .mat-checkbox{
        margin: 0 20px 10px 0;
    }

    button{
        float: right;
        margin: 20px auto;
    }

}
