.mat-drawer-container .mat-drawer {
    width: 300px;
}
#panoContainer,
#streetViewPanoContainer {
    height: 100%;
    display: none;

    &.active {
        display: block;
    }
}
.input-with-button {
    border-bottom: 1px solid #ccc;
    display: flex;
    
    input,
    button {
        margin: 0;
        border: none;
        height: 48px;
    }
    input {
        flex-grow: 1;
        padding: 0 16px;
        border-right: 1px solid #ccc;
    }
    button {
    }
}
