.mat-card-view {
    .card-view {
        display: flex;
        flex-wrap: wrap;
    }
    .mat-card {
        width: 48%;
        margin: 0 1% 1% 1%;

        h1 a {
            color: inherit;
            text-decoration: none;
        }
    }
}
